body{
    background-color: grey;
    font-family: cursive;
    color: black;
        text-align: center;
    width: 50%;
    margin: auto;

}
.rightPane{
    text-align: left;
    width: 10%;
    margin: auto;
}


.gallery{
    display: flex;
    justify-content: space-between;
     margin: 10px 10px 10px 10px;
    
}

.header{
    display: flex;
    justify-content: center;
    font-family: 'Charmonman', cursive;
    color: black;
    font-size: 30px;
    font-weight: bold;
    

}
.navbar{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-decoration: underline;
    font-size: 18px;
}
.footer{
    display: flex;
    justify-content: space-around;
}

img{
    width: 900px;
    height: 50px;
}